.container
  .row
    .col-sm-12
      //p
      //  | Accounts are reset on server restart from
      //  code server/config/seed.js
      //  | . Default account is
      //  code test@example.com
      //  | /
      //  code test
      //p
      //  | Admin account is
      //  code admin@example.com
      //  | /
      //  code admin

    div.col-sm-6.col-sm-offset-3.well
      h1 Entrar
        hr
      form.form(name='form', ng-submit='vm.login(form)', novalidate='')
        .form-group
          label Correo electronico
          input.form-control(type='email', name='email', ng-model='vm.user.email', placeholder="Ingresa tu correo electronico", required="")
        .form-group
          label Password
          input.form-control(type='password', name='password', ng-model='vm.user.password' placeholder="Ingresa tu clave", required="")

        .form-group.has-error
          p.help-block(ng-show='form.email.$error.email && vm.submitted')
            | Email invalido
          p.help-block(ng-show='form.email.$error.required && form.password.$error.required && vm.submitted')
            | Ingresa tu correo y contraseña.
          p.help-block {{ vm.errors.login }}

        div.text-right
          button.btn.btn-primary.btn-lg.btn-login(type='submit')
            | Entrar
        div.text-right
          br
          a(ui-sref='signup')
            |¿No tienes cuenta? Registrate


        //.row
          //.col-sm-4.col-md-3
            //oauth-buttons(classes='btn-block')

  hr
